<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="product">

	<select id="selectProductList" parameterType="int" resultType="Product">
		SELECT * FROM PRODUCT_DETAIL  ORDER BY PRODUCTNO DESC
	</select>
	
	
	<select id="selectProductTotalContents" resultType="int">
		SELECT COUNT(*) FROM PRODUCT_DETAIL
	</select>
	
	<select id="selectList" parameterType="int" resultType="Product">
		SELECT P.*, I.PRODUCTNEWIMAGE
		 FROM PRODUCT_DETAIL P RIGHT OUTER JOIN PRODUCTIMAGE I
		 ON(P.PRODUCTNO = I.PRODUCTNO)
		 WHERE I.IMAGECATEGORYNO = 0
		 ORDER BY P.PRODUCTNO DESC
		
	</select>
	
	<select id="selectListTop" parameterType="int" resultType="Product">
     SELECT P.*, I.PRODUCTNEWIMAGE
		 FROM PRODUCT_DETAIL P RIGHT OUTER JOIN PRODUCTIMAGE I
		 ON(P.PRODUCTNO = I.PRODUCTNO)
		  WHERE ROWNUM &lt; 5
		 ORDER BY P.PRODUCTCOUNT DESC
      
   </select>
   
   <select id="selectTopList" parameterType="int" resultType="Product">
		SELECT P.*, I.PRODUCTNEWIMAGE
		 FROM PRODUCT_DETAIL P RIGHT OUTER JOIN PRODUCTIMAGE I
		 ON(P.PRODUCTNO = I.PRODUCTNO)
		  WHERE CATEGORYNO2 = 1
		 ORDER BY P.PRODUCTNO DESC
	</select>
	 
   <select id="selectKnitList" parameterType="int" resultType="Product">
		SELECT P.*, I.PRODUCTNEWIMAGE
		 FROM PRODUCT_DETAIL P RIGHT OUTER JOIN PRODUCTIMAGE I
		 ON(P.PRODUCTNO = I.PRODUCTNO)
		  WHERE CATEGORYNO2 = 2
		 ORDER BY P.PRODUCTNO DESC
	</select>
	
	<select id="selectJacketList" parameterType="int" resultType="Product">
		SELECT P.*, I.PRODUCTNEWIMAGE
		 FROM PRODUCT_DETAIL P RIGHT OUTER JOIN PRODUCTIMAGE I
		 ON(P.PRODUCTNO = I.PRODUCTNO)
		  WHERE CATEGORYNO2 = 3
		 ORDER BY P.PRODUCTNO DESC
	</select>
	
	<select id="selectSearchList" parameterType="string" resultType="Product">
		SELECT P.*, I.PRODUCTNEWIMAGE
		 FROM PRODUCT_DETAIL P RIGHT OUTER JOIN PRODUCTIMAGE I
		 ON(P.PRODUCTNO = I.PRODUCTNO)
		 WHERE  PRODUCTNAME like '%' ||  #{sresult} || '%'
		 ORDER BY P.PRODUCTNO DESC
	</select>
	
	<select id="selectImg" parameterType="int" resultType="string">
       SELECT PRODUCTNEWIMAGE FROM PRODUCTIMAGE WHERE PRODUCTNO = #{productNo} AND IMAGECATEGORYNO = 0 
    </select>
	
	<!-- get searchRivew yongjoo -->
   <select id="selectSearchReview" parameterType="map" resultType="Review">
      SELECT *
      FROM REVIEW
      WHERE DETAILNO IN (SELECT DETAILNO
                     FROM ORDERDETAIL
                       WHERE PRODUCTNO IN (SELECT PRODUCTNO
                                             FROM PRODUCT_DETAIL DETAIL
                                    LEFT JOIN CATEGORY2 CG2 ON (DETAIL.CATEGORYNO2 = CG2.CATEGORYNO2)
                                    LEFT JOIN "CATEGORY" CG ON (CG2.CATEGORYNO = CG.CATEGORYNO)
                                             WHERE SELLERID = #{sellerId}
                                             <if test="productName != null || productName != ''">
                                                   AND PRODUCTNAME LIKE '%' || #{productName} || '%'
                                             </if>
                                             <if test="productBrand != null || productBrand != ''">
                                                   AND PRODUCTBRAND LIKE '%' || #{productBrand} || '%'
                                             </if>
                                             <if test="productNo != null and productNo != -1">
                                                   AND PRODUCTNO = #{productNo}
                                             </if>
                                             <if test="categoryNo != null and categoryNo != 999">
                                       AND CG.CATEGORYNO = #{categoryNo}
                                    </if>
                                    <if test="categoryNo2 != null and categoryNo2 != 999">
                                       AND CG2.CATEGORYNO2 = #{categoryNo2}
                                    </if>
                                             )) 
      ORDER BY REVIEWNO DESC
   </select>
   
   <!-- getQnAList by yongjoo -->
   <select id="selectQnaList" parameterType="string" resultType="QnA">
      SELECT *
      FROM QNA
      WHERE PRODUCTNO IN (SELECT PRODUCTNO
                           FROM PRODUCT_DETAIL
                           WHERE SELLERID = #{sellerId}) 
      ORDER BY QNO DESC
   </select>
   
   <select id="selectQproduct" parameterType="int" resultType="Product">
      SELECT *
      FROM PRODUCT_DETAIL
      WHERE PRODUCTNO = (SELECT PRODUCTNO
                     FROM QNA
                     WHERE QNO = #{qno})
   </select>
   
   <select id="selectSearchQna" parameterType="map" resultType="Qna">
      SELECT *
      FROM QNA
      WHERE PRODUCTNO IN (SELECT PRODUCTNO
                              FROM PRODUCT_DETAIL DETAIL
                     LEFT JOIN CATEGORY2 CG2 ON (DETAIL.CATEGORYNO2 = CG2.CATEGORYNO2)
                     LEFT JOIN "CATEGORY" CG ON (CG2.CATEGORYNO = CG.CATEGORYNO)
                              WHERE SELLERID = #{sellerId}
                              <if test="productName != null || productName != ''">
                               AND PRODUCTNAME LIKE '%' || #{productName} || '%'
                            </if>
                            <if test="productBrand != null || productBrand != ''">
                               AND PRODUCTBRAND LIKE '%' || #{productBrand} || '%'
                            </if>
                            <if test="productNo != null and productNo != -1">
                               AND PRODUCTNO = #{productNo}
                            </if>
                            <if test="categoryNo != null and categoryNo != 999">
                        AND CG.CATEGORYNO = #{categoryNo}
                     </if>
                     <if test="categoryNo2 != null and categoryNo2 != 999">
                        AND CG2.CATEGORYNO2 = #{categoryNo2}
                     </if>
                            ) 
      ORDER BY QNO DESC
   </select>   
</mapper>

