<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="reviewSQL">

	<select id="selectProduct" parameterType="int" resultType="Product">
		SELECT *
		FROM PRODUCT_DETAIL
		WHERE PRODUCTNO = (SELECT PRODUCTNO
						   FROM ORDERDETAIL
						   WHERE DETAILNO = #{ detailNo })
	</select>
	
	<select id="selectSizeName" parameterType="int" resultType="string">
		SELECT DETAILSIZE FROM ORDERDETAIL WHERE DETAILNO = #{ detailNo }
	</select>
	
	<insert id="insertReview" parameterType="Review">
		INSERT INTO REVIEW VALUES(SEQ_REVIEW.NEXTVAL, #{ userId }, #{ detailNo }, #{ reviewContent }, #{ reviewScore }, 
								  SYSDATE, 'Y', #{ reviewOldImage }, #{ reviewNewImage })
	</insert>
	
	<select id="selectImg" parameterType="int" resultType="string">
		SELECT PRODUCTNEWIMAGE FROM PRODUCTIMAGE WHERE PRODUCTNO = #{productNo} AND IMAGECATEGORYNO = 0 
	</select>
	
	<select id="selectProductNo" parameterType="int" resultType="int">
		SELECT PRODUCTNO FROM ORDERDETAIL WHERE DETAILNO = #{detailNo}
	</select>
	
	
	<update id="updateScore" parameterType="int">
		UPDATE PRODUCT_DETAIL
		SET PRODUCTSCORE = (SELECT TRUNC(AVG(REVIEWSCORE), 1)
        			        FROM(SELECT REVIEWSCORE
                     			 FROM REVIEW
                        		 WHERE DETAILNO IN (SELECT DETAILNO
                                  			        FROM ORDERDETAIL
                                           			WHERE PRODUCTNO = #{productNo})))
		WHERE PRODUCTNO = #{productNo}
	</update>
	
	<select id="selectReview" parameterType="int" resultType="Review">
		SELECT * FROM REVIEW WHERE REVIEWNO = #{reviewNo}
	</select>
	
	<delete id="deleteReview" parameterType="int">
		DELETE REVIEW WHERE REVIEWNO = #{reviewNo}
	</delete>
	
	<update id="updateReview" parameterType="Review">
		UPDATE REVIEW SET REVIEWCONTENT = #{reviewContent}, REVIEWSCORE = #{reviewScore}
						, REVIEWOLDIMAGE = #{reviewOldImage}, REVIEWNEWIMAGE = #{reviewNewImage}
		WHERE REVIEWNO = #{reviewNo}
	</update>
</mapper>
