<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sellerSQL">
   
   <insert id="insertSeller" parameterType="Seller">
      INSERT INTO SELLER VALUES (#{sellerId}, #{sellerPw}, #{sellerNo}, #{sellerCompany}, #{sellerName},
                           #{sellerAddress}, #{sellerPhone}, DEFAULT, 'Y', NULL)
   </insert>
   
   <select id="checkSellerDuplicate" parameterType="string" resultType="int">
      SELECT COUNT(*) FROM SELLER WHERE SELLERID = #{sellerId} 
   </select>
   
   <select id="selectOneSeller" parameterType="string" resultType="Seller">
      SELECT * FROM SELLER WHERE SELLERID = #{sellerId} AND SELLERSTATUS = 'Y'
   </select>
   
   <update id="updateSeller" parameterType="Seller">
      UPDATE SELLER SET SELLERNO = #{sellerNo}, SELLERCOMPANY = #{sellerCompany}, SELLERNAME = #{sellerName}, SELLERADDRESS = #{sellerAddress}, SELLERPHONE = #{sellerPhone} WHERE SELLERID = #{sellerId} 
   </update>
   
   <delete id="deleteSeller" parameterType="string">
      UPDATE SELLER SET SELLERSTATUS = 'N', SELLERDROPDATE = SYSDATE WHERE SELLERID = #{sellerId}
   </delete>
	
	<select id="getClaimCnt" parameterType="string" resultType="SellerStat">
		SELECT COUNT(CASE WHEN CLAIMCODE = 2 OR CLAIMCODE = 5 THEN 1 END) TOTALCANCLE,
	       	   COUNT(CASE WHEN CLAIMCODE = 2 THEN 1 END) UNSOLVEDCANCLE,
	      	   COUNT(CASE WHEN CLAIMCODE = 1 OR CLAIMCODE = 4 THEN 1 END) TOTALREFUND,
	       	   COUNT(CASE WHEN CLAIMCODE = 1 THEN 1 END) UNSOLVEDREFUND,
	       	   COUNT(CASE WHEN CLAIMCODE = 0 OR CLAIMCODE = 3 THEN 1 END) TOTALSWAP,
	       	   COUNT(CASE WHEN CLAIMCODE = 0 THEN 1 END) UNSOLVEDSWAP
		FROM CLAIMINFO
		LEFT JOIN ORDERDETAIL USING(DETAILNO)
		LEFT JOIN PRODUCT_DETAIL USING(PRODUCTNO)
		WHERE SELLERID = #{sellerId} AND CLAIMDATE > (SYSDATE-30)
	</select>
	
	<select id="getProductCnt" parameterType="string" resultType="SellerStat">
		<![CDATA[
		SELECT COUNT(CASE WHEN PRODUCTENDDATE >= SYSDATE THEN 1 END) SELLPRODUCT,
       		   COUNT(CASE WHEN PRODUCTENDDATE < SYSDATE THEN 1 END) ENDPRODUCT,
       		   COUNT(CASE WHEN PRODUCTENDDATE < (SYSDATE+2) AND PRODUCTENDDATE >= SYSDATE THEN 1 END) IMPENDPRODUCT
		FROM PRODUCT_DETAIL
		WHERE SELLERID = #{sellerId}
		]]>
	</select>
	
	<select id="getDeliveryCnt" parameterType="string" resultType="SellerStat">
		SELECT COUNT(CASE WHEN OD.DELIVERYNO IS NOT NULL THEN 1 END) COMPLETEDEL,
       		   COUNT(CASE WHEN OD.DELIVERYNO IS NULL THEN 1 END) WAITDEL
		FROM ORDERDETAIL OD
			 LEFT JOIN "ORDER" O ON OD.ORDERNO = O.ORDERNO
			 LEFT JOIN DELIVERY D ON OD.DELIVERYNO = D.DELIVERYNO
			 LEFT JOIN PRODUCT_DETAIL DETAIL ON OD.PRODUCTNO = DETAIL.PRODUCTNO
			 LEFT JOIN DELIVERYINFO DINFO ON D.DELIVERYCODE = DINFO.DELIVERYCODE
		WHERE SELLERID = #{sellerId} AND PROCESSCODE > 0
	</select>
	
	<select id="getReviewCnt" parameterType="string" resultType="SellerStat">
		SELECT COUNT(ORDERNO) ORDERCNT,
       		   COUNT(CASE WHEN REVIEWNO IS NOT NULL THEN 1 END) REVIEWCNT
		FROM ORDERDETAIL
		LEFT JOIN REVIEW USING(DETAILNO)
		LEFT JOIN PRODUCT_DETAIL USING(PRODUCTNO)
		WHERE SELLERID = #{sellerId}
	</select>
	
	<select id="getQnaCnt" parameterType="string" resultType="SellerStat">
		SELECT COUNT(*) QNA,
       		   COUNT(CASE WHEN CNO IS NULL THEN 1 END) UNSOLVEDQNA
		FROM QNA
		LEFT JOIN PRODUCT_DETAIL USING(PRODUCTNO)
		LEFT JOIN QNACOMMENT USING(QNO)
		WHERE PRODUCT_DETAIL.SELLERID = #{sellerId}
	</select>
	
	<select id="getSaleGross" parameterType="map" resultType="Gross">
		<![CDATA[
		SELECT TIMEHOURS, NVL(SALES.GR, 0) AS GROSS
		FROM ( SELECT SALESPERHOUR, SUM(DETAILPRICE) GR
       		   FROM ( SELECT DETAILPRICE, TO_CHAR(PAYDATE, 'HH') SALESPERHOUR
             		  FROM ORDERDETAIL
            		  LEFT JOIN PRODUCT_DETAIL USING(PRODUCTNO)
               WHERE SELLERID = #{sellerId} AND TO_CHAR(PAYDATE, 'DD') = TO_CHAR(SYSDATE, 'DD') )
       		   GROUP BY SALESPERHOUR ) SALES
		RIGHT JOIN (SELECT LEVEL-1 TIMEHOURS FROM DUAL
            		CONNECT BY LEVEL <= 24) TIME_TABLE ON SALES.SALESPERHOUR = TIME_TABLE.TIMEHOURS
		ORDER BY TIMEHOURS
		]]>
		<!-- 날짜 추가 필요? AND PAYDATE <= SYSDATE-1  -->
	</select>
	
	<select id="findId" parameterType="Seller" resultType="string">
		SELECT SELLERID FROM SELLER WHERE SELLERNAME = #{sellerName} AND SELLERPHONE = #{sellerPhone} AND SELLERCOMPANY = #{sellerCompany}
	</select>

</mapper>