<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="statisticSQL">

	<select id="selectProductList" parameterType="string" resultType="Product">
		SELECT * FROM PRODUCT_DETAIL WHERE SELLERID = #{ sellerId }
	</select>
	
	<select id="selectOrderCount" parameterType="int" resultType="int">
		SELECT COUNT(*) FROM ORDERDETAIL WHERE PRODUCTNO = #{ productNo } 
	</select>
	
	<select id="selectTop4" parameterType="string" resultType="Product">
		SELECT *
		FROM (SELECT *
		      FROM PRODUCT_DETAIL
		      WHERE SELLERID = 'seller02'
		      ORDER BY PRODUCTSCORE DESC)
		WHERE <![CDATA[ROWNUM < 5]]>
	</select>
	
	<select id="selectUserMan" parameterType="string" resultType="int">
		SELECT COUNT(*)
		FROM "USER"
		WHERE USERID IN (SELECT USERID
		                 FROM "ORDER"
   		                 WHERE ORDERNO IN (SELECT ORDERNO
		                                   FROM ORDERDETAIL
		                                   WHERE PRODUCTNO IN (SELECT PRODUCTNO
		                                                       FROM PRODUCT
		                                                       WHERE SELLERID = #{sellerId})))
		 AND USERGENDER = 'M'
	</select>
	
	<select id="selectUserWoman" parameterType="string" resultType="int">
		SELECT COUNT(*)
		FROM "USER"
		WHERE USERID IN (SELECT USERID
		                 FROM "ORDER"
   		                 WHERE ORDERNO IN (SELECT ORDERNO
		                                   FROM ORDERDETAIL
		                                   WHERE PRODUCTNO IN (SELECT PRODUCTNO
		                                                       FROM PRODUCT
		                                                       WHERE SELLERID = #{sellerId})))
		 AND USERGENDER = 'F'
	</select>
	
	<select id="selectMonthRevenue" parameterType="string" resultType="MonthRev">
		<![CDATA[
		SELECT TO_CHAR(b.dt, 'MM') AS MONTH, NVL(SUM(a.REVENUE), 0) REVENUE
  		FROM (SELECT TO_CHAR(PAYDATE, 'YYYY-MM-DD') AS PAYDATE, SUM(DETAILPRICE) AS REVENUE
           	  FROM ORDERDETAIL
          	  WHERE PRODUCTNO IN (SELECT PRODUCTNO
              				      FROM PRODUCT
                   				  WHERE SELLERID = #{selectId})
          	  GROUP BY PAYDATE
        	 ) a
      		, ( SELECT TO_DATE('2021-01-01','YYYY-MM-DD') + LEVEL - 1 AS dt
           		FROM dual 
         		CONNECT BY LEVEL <= (TO_DATE('2021-12-31','YYYY-MM-DD') 
                	            - TO_DATE('2021-01-01','YYYY-MM-DD') + 1)
        	 ) b
	    WHERE b.dt = a.PAYDATE(+)
	    GROUP BY TO_CHAR(b.dt, 'MM')
	    ORDER BY TO_CHAR(b.dt, 'MM')
		]]>
	</select>
	
</mapper>
